body {
    background-color: #1A2849;
}

.flex-container {
    flex-direction: row;
    justify-content: flex-start;
}

.sample1 div:nth-child(2) {
    flex-basis: 200px;
}

.sample2 > * {
    flex-basis: 33%;
}

.sample3 > * {
    flex: 0 1 auto;
}

.sample4 > * {
    flex: 1 1 25%;
}