body {
    background-color: #cc0e74;
}

.flex-container {
    display: flex;
}


.row {
    flex-direction: row;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.column-reverse {
    flex-direction: column-reverse;
}